Package: com.netskao.appretro
Name: AppRetro
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An application downgrade tool for TrollStore.
Maintainer: YourName
Author: YourName
Section: Utilities
